*{
    padding: 0;
    /* outline:red solid 1px; */
    margin:0;
    box-sizing: border-box;
    overflow: hidden;
}
body{
    background-color:rgb(22, 22, 100);
    position: relative;
    width:100%;
    height:100vh;
    display:flex;
    align-items: center;
    justify-content: space-between;
}
.special{
    position:fixed;
    top: 0;
    padding: 20px;
    background-color: rgb(12, 12, 46);
    width: 100%;
    text-align:center;
    font-family:Georgia, 'Times New Roman', Times, serif;
    color:white;

}
.mimg{
    width:100px;
}
.micbox{
    width: 50%;
    display:grid;
    align-items: center;
    justify-content: center;
    text-align: center;
}
#action{
    margin-top:20px;
    color:white;    
}
.mic{
    background-color: rgb(26, 26, 139);
    padding: 20px;
    width: 300px;
    height: 300px;
    border-radius: 50%;
}

.textbox{
    width: 50% ;
    display: none;
    align-items: CENTER;
    justify-content: center;
}
.notepad{
    height: 80vh;
    display:flex;
    /* align-items: center; */
    justify-content: center;
    padding:60px 0px 10px 50px;
    font-size: 14pt;
    width: 60%;
    color:black;
    font-family:arial;
    background-image:url(notepad.png);
    background-position:center;
    background-size:cover;
}
#textContainer{
    width:80%;
}
@media screen AND (MAX-WIDTH: 1024PX) {
    BODY{
        display: BLOCK;
    }
    .textbox{
        WIDTH:100%;
        margin-top: 20px;
    }
    .micbox{
        margin-top: 20vh;
        WIDTH:100%;
    }
    .mic{
        background-color: rgb(26, 26, 139);
        padding: 20px;
        width: 200px;
        height: 200px;
        border-radius: 50%;
    }
    .notepad{
        width: 90%;
    }
    #textContainer{
        
    }
    .mimg{
        width:80px;
    }
    img{
        width:100%;
    }
}